<center><h1 style="color: Blue; padding: .5em"> Edit <%= @director.name %></h1></center>

<%= form_with url: "/directors/#{@director.id}", method: :patch, local: true do |form|%>
  
  <p><%= form.label :name, "Name" %>
  <%= form.text_field :name, value: @director.name %></p>

  <%= form.label :best_director_oscars, "Number of Best Director Oscars"  %>
  <%= form.number_field :best_director_oscars, value: @director.best_director_oscars, min: 0 %></p>

  <p><%= form.label :multiple_best_director_nominations, "Has Multiple Best Director Nominations?" %> &nbsp <strong></p>
  
  <p><%= form.radio_button :multiple_best_director_nominations, value=false, { checked: !@director.multiple_best_director_nominations } %> Check if False
  <%= form.radio_button :multiple_best_director_nominations, value=true, { checked: @director.multiple_best_director_nominations }  %> Check if True </p>
  
  <%= form.submit 'Update Director'%>

<% end %>