<h1>New Director</h1></center>

<%= form_with url: directors_path, method: :post, local: true do |form|%>
  <p><%= form.label :name, "Name" %>
  <%= form.text_field :name, value: @director.name %></p>

  <%= form.label :best_director_oscars, "Number of Best Director Oscars" %>
  <%= form.number_field :best_director_oscars, value: @director.best_director_oscars, min: 0 %></p>

  <p><%= form.label :multiple_best_director_nominations, "Has Multiple Best Director Nominations?", 
  value: @director.multiple_best_director_nominations %>
  <ul><%= form.radio_button :multiple_best_director_nominations, value=false %> Check if False</ul>
  <ul><%= form.radio_button :multiple_best_director_nominations, value=true %> Check if True </ul></p>
  
  <%= form.submit 'Add Director'%>
<% end %>