<h1 style="color: Maroon"><center>Films<center></h1>

<% @films.each do |film| %>
  <div id="film-attributes-<%=film.id %>">
    <h3><%= link_to film.name, "/films/#{film.id}" %></h3>
    
    <ul>Director: <%= film.director.name %>, Release Year <%= film.release_year %>, Best Picture Oscar Winner? <%= film.best_picture_oscar%></ul>
  </div>
<% end %>