<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<div style="position:fixed; padding: 1em; top: 0; right: 0;">
  <i><%= link_to 'Directors', directors_path, style: "color: navy" %>
  <%= link_to 'Films', films_path, style: "color: Indigo" %>
  <%= link_to 'Main', "/" %></i>
</div>

    <%= yield %>
  </body>
</html>
